* {
    margin: 0;
    padding: 0;
}

body {
    font-size: 12px;
    font-family: 'Open Sans', sans-serif;
}

/*HEDER*/

.main-block {
    margin: 0 auto;
    padding: 50px 50px 0 50px;
    width: 966px;
    border-left: 1px solid #d3d3d3;
    border-right: 1px solid #d3d3d3
}

.nav-menu {
    background: rgba(68, 67, 67, 0.88);
    margin-top: 40px;
}

.nav-menu li {
    display: inline-block;
}

.nav-menu a {
    border-left: 1px solid rgb(90, 89, 89);
    border-right: 1px solid rgb(90, 89, 89);
    display: block;
    padding: 16px 45px 18px 35px;
    text-decoration: none;
    color: white;
}

.nav-menu a:hover {
    background-color: rgb(68, 67, 67);
    border-left: 1px solid #d3d3d3;
    border-right: 1px solid #d3d3d3;
}

/*SECTION*/
.clearfix {
    margin-top: 40px;
}

.clearfix:after {
    content: '';
    clear: both;
    display: block;  
}

.side-menu {
    border: 1px solid #d3d3d3;
    width: 240px;
    float: left;
}
.side-menu li {
    border-top: 1px solid #d3d3d3;
    list-style-type: none;
}

.side-menu li:first-child {
    border: none;
}

.side-menu a {
    padding: 15px 30px 15px 10px;
    display: block;
    text-decoration: none;
    color: #656363;
}

.side-menu a:hover {
    background-color: rgba(236, 236, 236, 0.78);
    padding-left:35px;
}

.right-section {
    float: right;
    width: 678px;
}

.right-section p {
    margin-top: 20px;
    padding: 0 25px;
}

.picture-box {
    padding: 40px 90px;
    border: 1px solid #d3d3d3;
}

/*FOOTER*/

.nav-foot {
    width: 966px;
    background: #d3d3d3;
    margin-top: 60px;
}

.nav-foot li {
    display: inline-block;
    margin: 13px 40px;
}

.nav-foot p {
    float: right;
    color: #000000;
    margin-top: 17px;
    margin-right: 17px;
}

.nav-foot a {
    text-decoration: none;
    color: #000000;
}

 .nav-foot a:hover {
    text-decoration: underline;
 }
  