* {
    margin: 0;
    padding: 0;
}

body {
    background: url(../img/background.png);
    font-size: 12px;
    font-family: 'Open Sans', sans-serif;
}

.main-block {
    margin: 0 auto;
    width: 1000px;
    background-color: #fff;
}

.contact {
    width: 400px;
    float: right;
}

.clearfix:after {
    content: '';
    clear: both;
    display: block;  
}

/*HEDER*/
.tell {
    line-height: 20px;
    color: #30b4c8;;
    margin: 15px 10px 0 235px;
}

.logo {
    width: 600px;

}
 .logo img {
    margin: 35px 10px 0 20px;
 }

.nav {
    margin-top: 47px;
    list-style-type: none;
}
.nav li {
    padding-left: 20px;
    float: left;
}

.nav a {
    display: block;
    background-position: center top;
    color: #30b4c8;
    background-repeat: no-repeat;
    width: 40px;
    padding-top: 45px;
}

.nav .i_flag a {
background-image: url(../img/i_flag.png);
}

.nav .n_flag a {
background-image: url(../img/n_flag.png);

}

.nav .t_flag a {
background-image: url(../img/t_flag.png);

}

.nav .b_flag a {
background-image: url(../img/b_flag.png);

}

.nav .s_flag a {
background-image: url(../img/s_flag.png);

}

.nav .m_flag a {
background-image: url(../img/m_flag.png);

}

/*SECTION*/

.banner {
}

.nav-menu {
    background-color: black;
}

.menu {
    display: block;
    list-style-type: none;
}

.menu:after {
    display: block;
    content: ' ';
    clear: both;
    float: none;
}

.menu li {
        position: relative;
        float: left;
}

.menu a {
        display: block;
        padding: 10px;
        color: white;
        text-decoration: none;
}

.submenu {
    display: none;
    position: absolute;
    width: 120px;
    top: 37px;
    background-color: black;
}

.submenu li {
    display: block;
}

.submenu a {
    display: block;
    padding: 10px;
    color: white;
    background-color: black;;
    text-decoration: none;
}

.submenu a:hover {
    text-decoration: none;
}

ul.menu li:hover ul.submenu {
    display: block;
}

/*FOOTER*/

.footer {
    text-align: center;
    color: #fff;
}